* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: grey;
}

.logo {
    max-width: 5rem;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #000;
}

#abrir,
#cerrar{
    display: none;
}

@media screen and (max-width: 768px){
    #abrir,
    #cerrar{
        display: block;
    }

    .cerrar {
        color: white;
    }

    .nav {
        opacity: 0 ;
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        visibility: hidden;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: white;
    }
}


